/* @tailwind base; */

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.relative {
  position: relative
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.mt-12 {
  margin-top: 3rem
}

.mb-12 {
  margin-bottom: 3rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-2\/3 {
  height: 66.666667%
}

.h-1\/3 {
  height: 33.333333%
}

.h-24 {
  height: 6rem
}

.w-full {
  width: 100%
}

@-webkit-keyframes pulse {
  50% {
    opacity: .5
  }
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

.animate-pulse {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}

.cursor-pointer {
  cursor: pointer
}

.list-none {
  list-style-type: none
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-8 {
  gap: 2rem
}

.gap-3 {
  gap: 0.75rem
}

.gap-12 {
  gap: 3rem
}

.gap-4 {
  gap: 1rem
}

.overflow-hidden {
  overflow: hidden
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-3xl {
  border-radius: 1.5rem
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-solid {
  border-style: solid
}

.border-zinc-900 {
  --tw-border-opacity: 1;
  border-color: rgb(24 24 27 / var(--tw-border-opacity))
}

.border-zinc-100 {
  --tw-border-opacity: 1;
  border-color: rgb(244 244 245 / var(--tw-border-opacity))
}

.bg-transparent {
  background-color: transparent
}

.bg-sky-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(56 189 248 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.bg-zinc-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-teal-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 250 / var(--tw-bg-opacity))
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity))
}

.bg-teal-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(15 118 110 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-8 {
  padding: 2rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.text-center {
  text-align: center
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-extrabold {
  font-weight: 800
}

.font-semibold {
  font-weight: 600
}

.leading-relaxed {
  line-height: 1.625
}

.leading-6 {
  line-height: 1.5rem
}

.text-zinc-800 {
  --tw-text-opacity: 1;
  color: rgb(39 39 42 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-zinc-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity))
}

.hover\:bg-zinc-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity))
}

.hover\:bg-sky-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}

.hover\:bg-slate-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity))
}

.hover\:text-zinc-600:hover {
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity))
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:text-zinc-700:hover {
  --tw-text-opacity: 1;
  color: rgb(63 63 70 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .sm\:ml-0 {
    margin-left: 0px
  }

  .sm\:mb-0 {
    margin-bottom: 0px
  }

  .sm\:flex {
    display: flex
  }

  .sm\:hidden {
    display: none
  }

  .sm\:flex-row {
    flex-direction: row
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50%
  }

  .md\:flex-row {
    flex-direction: row
  }

  .md\:text-left {
    text-align: left
  }

  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }
}

@media (min-width: 1024px) {
  .lg\:w-1\/3 {
    width: 33.333333%
  }

  .lg\:w-1\/2 {
    width: 50%
  }

  .lg\:flex-row {
    flex-direction: row
  }
}

@media (min-width: 1280px) {
  .xl\:text-8xl {
    font-size: 6rem;
    line-height: 1
  }
}