@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    transition: all 0.25s linear;
    list-style: none;
}

a{
    text-decoration: none;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-bottom: 15px;
}

.h-100 {
    height: 35rem;
}



.title-box::before{
    content: '';
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #000;
    z-index: -1;
}
.title-box::after{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: #000;
    z-index: -1;
}

.animate-pulse{
    animation: pulse 1s linear infinite;
}
@keyframes pulse{
    0%{box-shadow: #fecaca 0 0 0 0;}
    80%{box-shadow: #fecaca8b 0 0 0 20px;}
    80%{box-shadow: #fecaca00 0 0 0 20px;}
}
.animate-pulse:hover{
    animation: none;
}